<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firebase Auth Home</title>
</head>
<body>
  <h1>Scholarship Recommendation System</h1>
<a href="/login">Login</a> |
<a href="/register/student">Register as Student</a> |
<a href="/register/sponsor">Register as Sponsor</a>
</body>
</html>
